In [1]:
!pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: tqdm in /home/jongoon/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.50.2)
Requirement already satisfied: requests>=2.3.0 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from finance-datareader) (2.24.0)
Requirement already satisfied: pandas>=0.19.2 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from finance-datareader) (1.1.3)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: lxml in /home/jongoon/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.6.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (1.25.11)
Requirement already satisfied: pytz>=2017.2 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jongoon/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six in /home/jongoon/anaconda3/lib/python3.8/site-packages (from requests-file->finance-datareader) (1.15.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

In [2]:
import pandas as pd
import os
import FinanceDataReader as fdr

In [3]:
path = '../data'
list_name = 'stock_List.csv'
stock_list = pd.read_csv(os.path.join(path,list_name))
stock_list['종목코드'] = stock_list['종목코드'].apply(lambda x : str(x).zfill(6))
stock_list

          종목명    종목코드    상장시장
0        삼성전자  005930   KOSPI
1      SK하이닉스  000660   KOSPI
2       NAVER  035420   KOSPI
3         카카오  035720   KOSPI
4    삼성바이오로직스  207940   KOSPI
..        ...     ...     ...
365      맘스터치  220630  KOSDAQ
366        다날  064260  KOSDAQ
367   제이시스메디칼  287410  KOSDAQ
368   크리스에프앤씨  110790  KOSDAQ
369     쎄트렉아이  099320  KOSDAQ

[370 rows x 3 columns]

In [5]:
start_date = '20200101'
end_date = '20201231'
sample_code = '005930'
stock = fdr.DataReader(sample_code, start = start_date, end = end_date)
stock['code'] = sample_code
stock

             Open   High    Low  Close    Volume    Change    code
Date
2020-01-02  55500  56000  55000  55200  12993228 -0.010753  005930
2020-01-03  56000  56600  54900  55500  15422255  0.005435  005930
2020-01-06  54900  55600  54600  55500  10278951  0.000000  005930
2020-01-07  55700  56400  55600  55800  10009778  0.005405  005930
2020-01-08  56200  57400  55900  56800  23501171  0.017921  005930
...           ...    ...    ...    ...       ...       ...     ...
2020-12-23  72400  74000  72300  73900  19411326  0.022130  005930
2020-12-24  74100  78800  74000  77800  32502870  0.052774  005930
2020-12-28  79000  80100  78200  78700  40085044  0.011568  005930
2020-12-29  78800  78900  77300  78300  30339449 -0.005083  005930
2020-12-30  77400  81300  77300  81000  29417421  0.034483  005930

[248 rows x 7 columns]

In [ ]:
def read_data(code):
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock['code'] = code
    return stock
stock_data = pd.concat(stock_list['종목코드'].apply(lambda x: read_data(x)).values.tolist())
stock_data